.hero-action {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-add-hero {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #e10600, #7a0000);
  padding: 11px 26px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid #e10600;
  transition: 0.3s;
}

.btn-add-hero:hover {
  background: black;
  border-color: var(--gold);
  color: var(--gold);
  transform: translateY(-3px);
}
